#       OS        #
###################
.DS_Store
.idea
Thumbs.db
tmp
temp
any-folder
find.exe.stackdump

#     Node.js     #
###################
tsconfig.t*
node_modules
package-lock.json
yarn.lock

#       NYC       #
###################
coverage
.nyc_output

#      Build      #
###################
dist
build
lib
